/*
 * Globals
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-transform: lowercase;
  background-color: #234;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Lexend Exa", sans-serif;
}

.subtitle {
  color: #ccc;
  margin-bottom: 1.5rem;
}

a {
  /* color: #6af; */
  color: rgb(110, 180, 215);
  text-decoration: none;
}

a:hover, a:active {
  /* color: #fa6; */
  color: rgb(150, 220, 255);
}

.container {
  height: 100%;
}

.icon {
  margin-right: 0.8rem;
}

.divider {
  margin-left: 1rem;
  margin-right: 1rem;
}


/*
 * Content
 */

#hero {
  position: absolute;
  top: 30%;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  padding: 2rem 3rem;
  background-color: rgba(60, 60, 60, 0.8);
  border-radius: 1rem;
}

#avatar {
  margin: 0 1rem;
}

#avatar img {
  border-radius: 100%;
  max-height: 256px;
}

#contact-info {
  flex-grow: 1;
  margin: 0 1rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  color: #fff;
}

#contact-info ul {
  padding: 0;
  list-style-type: none;
}

#contact-info li {
  margin: 0.5rem 0;
}
